html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}
body {
  padding: 40px 0;
  display: grid;
  justify-items: center;
}
* {
  box-sizing: border-box;
}
section {
  margin-bottom: 40px;
}
section:last-of-type {
  margin-bottom: 80px;
}
section:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600;
}
section:nth-of-type(2) {
  font-size: 30px;
  font-weight: 900;
}
section:nth-of-type(2) > .box {
  padding: 30px 60px;
}
section:nth-of-type(3) > p {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
}
section:nth-of-type(3) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
section:nth-of-type(3) button {
  cursor: pointer;
  transition: all 0.1s;
}
section:nth-of-type(3) button:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px black;
}
section:nth-of-type(3) .box {
  padding: 10px 20px;
  font-size: 20px;
}
section:nth-of-type(3) .box:nth-child(2) {
  font-size: 25px;
}
section:nth-of-type(4) {
  display: flex;
  align-items: center;
  gap: 25px;
}
.shadow {
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
}
.result-box {
  width: 80%;
  padding: 10px;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}
.result-box:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px transparent !important;
}
.box {
  padding: 20px 50px;
  width: fit-content;
}
.start-btn,
.reset-btn {
  font-size: 20px;
  padding: 15px 40px;
  border: 2px solid black;
  width: fit-content;
  box-shadow: 4px 4px 0px black;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s;
}
.start-btn:active,
.reset-btn:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px black;
}
footer {
  width: 100%;
  padding: 30px;
  background-color: rgb(233, 233, 233);
}
footer span {
  color: gray;
  font-weight: 700;
}
main {
  position: relative;
  padding-bottom: 40px;
}
main > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main > div > div {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > div > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}
main > div > div > div > div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
main > svg {
  position: absolute;
  top: 50px;
  left: 0;
}
main input {
  width: 80%;
  height: 100%;
  text-align: center;
  outline: none;
}
